/* styles.module.css */

.container {
    max-width: 1200px; /* Define uma largura máxima para o container */
    padding: 20px;
    background-color: #1e1e1e; /* Cor de fundo escura */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Adiciona um efeito de sombra */
  }
  
  .title {
    color: #ffffff;
    text-align: center;
  }
  
  .subtitle {
    color: #cccccc;
    text-align: center;
  }
  
  .loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centraliza o loader verticalmente */
    background-color: #1e1e1e;
  }
  