body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    background-color: #28313E;
    font-family: Roboto, Arial, sans-serif;
}
